body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

@media (min-width: 600px) {
    .box {
        width: 48%;
    }
}

@media (min-width: 768px) {
    .box {
        width: 30%;
    }
}

@media (min-width: 1024px) {
    .box {
        width: 22%;
    }
}   

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.toggle-button {
    padding: none;
    margin: none;
    cursor: pointer;
    border: none;
    background-color: none;
    color: none;
    font-size: 16px;
    border-radius: 5px;
}

#parag{
    background-color: none;
    text-align: left;
    align-items: normal;
    margin: 350px;
    margin-top: -10px;
}

#headder{
    background-color: none;
    position: fixed;
}

#imag{
    margin-top: -450px;
}